html {
  background-color: #c9b5ab;
  font-family: "PT Serif", sans-serif;
  line-height: 1.5;
  font-weight: normal;
}

img {
  width: 100%;
}

header, h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-size: 1.125rem;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.intro {
  font-size: 1.125rem;
}

.blockquote {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.cite {
  font-size: .8rem;
  font-style: italic;
}

ul {
  font-size: .8rem;
}

.serving {
  font-style: italic;
  font-weight: normal;
  font-size: .8rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
